<!DOCTYPE html>
<html lang='en'>
  <head>
    <link rel='stylesheet' href='/css/application.css'>
    <script src='/js/application.js'></script>
    <title>dotENV</title>
  </head>

  <body>
    <%= yield %>
  </body>
</html>